URxvt.font:			  xft:terminus:size=12
URxvt.background:                 #000000
URxvt.foreground:		  #bebebe
URxvt*scrollBar:                  false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000

URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

!! red dark/light
*color1:                          #cc3232
*color9:                          #ff3f3f

!! green dark/light
*color2:                          #52cd52
*color10:                         #40ff40

!! yellow dark/light
*color3:                          #cdcd3e
*color11:                         #ffff40

!! blue dark/light
*color4:                          #3e3ecd
*color12:                         #4040ff

!! magenta dark/light
*color5:                          #8b00f8
*color13:                         #8e3ecd

!! cyan dark/light
*color6:                          #21cdcd
*color14:                         #52cdcd

!! white dark/light
*color7:                          #d8d8d8
*color15:                         #f8f8f8
