window {
	font-size: 16px;
	font-family: Liberation Mono;
	background-color: rgba(0, 0, 0, 0.9);
}

#input {
	margin: 5px;
}

#inner-box {
	margin: 5px;
}

#outer-box {
	margin: 5px;
}

#img {
	margin: 5px;
	size: 12px;
}

#entry {
		
}
