/* Remove box shadows */
decoration {box-shadow: none;} 

/* Remove rounded corners */
.titlebar,
.titlebar .background,
decoration,
window,
window.background
{
    /* Change to 4 to fit KDE */
    border-radius: 0;
}

/* Remove csd shadows */
decoration, decoration:backdrop
{
    box-shadow: none;
}

/* gnome settings */
window {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
} 

window.ssd headerbar.titlebar {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 0;
}
window.ssd headerbar.titlebar button.titlebutton {
    padding: 2px;
    min-height: 0;
    min-width: 0;
}
